@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #F7F8FA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 1180px;
  min-height: 100vh;
  padding: 25px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-bar__leftside {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.search-bar__input {
  width: 70%;
}

.search-bar__input .MuiInputBase-root {
  border-radius:  4px 0 0 4px;
}

.search-bar__sort-by .MuiInputBase-root {
  border-radius:  0;
}
.search-bar__button .MuiButtonBase-root {
  border-radius: 0 4px 4px 0;
  height: 40px;
}

.MuiInputBase-root, .MuiToggleButtonGroup-root {
  background-color: #fff;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.filter-section {
  margin-bottom: 20px;
}
.filter__price, .result-content {
  min-height: 100px;
}

.filter__price {
  width: 280px;
}

.result-content {
  width: 870px;
}


.filter p{
  font-size: 18px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.input-range {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.input-range__from .MuiInputBase-root {
  border-radius: 4px 0 0 4px;
}

.input-range__to .MuiInputBase-root {
  border-radius: 0 4px 4px 0;
}


/* Item */

.result-content .item {
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
}

.item__title, .item_desc {
  font-size: 18px;
}

.item__title span {
  color:#b9b9b9
}

.item p {
  margin-top: 0;
  margin-bottom: 20px;
}
.item__rate {
  margin-bottom: 10px;
}
.item__desc {
  margin-bottom: 10px;
}
.item__like {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
.item__price {
  color: #080808;
  font-size: 20px;
  font-weight: 700;
}

.item__price span, .item__category {
  color:#b9b9b9;
  font-weight: 400;
}

.item__category {
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* item flex */
.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.item__img {
  width: 240px;
}

.item__img img {
  width: 240px;
}

.item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  width: 545px;
}
.item__rate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__rate-label{
  margin-left: 10px;
  color:#b9b9b9
}
.item__action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.item__buy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* grid item */

.result-content_grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.result-content_grid p {
  margin-top: 15%;
}
.result-content_grid .item {
  flex-direction: column;
  width: 220px;
  margin-right: 15px
}

.result-content_grid .item:nth-child(3n) {
  margin-right: 0;
}

.result-content_grid .item__img,
.result-content_grid .item__img img,
.result-content_grid .item__content {
  width: 220px;
}

.result-content_grid .item__img {
  height: 220px;
  display: flex;
  justify-content: center;
}


.result-content_grid .item__img img {
  height: 220px;
} 

.result-content_grid .item__content {
  padding-left: 0;
  height: 100%;
}

/* Pagination */

.products .MuiStack-root {
  align-items: center;
}

.products .MuiStack-root:nth-child(1) {
  margin-bottom: 20px;
}

.products .MuiStack-root:nth-child(3) {
  margin-top: 20px;
}

/* Modal */

.modal-container {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.modal-container.active {
  transform: scale(1);
}
/* Modal Element */

article.product {
  width: 600px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 50px 25px rgba(0,0,0,0.15);
  padding: 30px;
}

article.product h2 {
  margin: 0 0 10px 0;
}

article.product p.product__category {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #b9b9b9;
}

.product-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating span.rating__text {
  margin-left: 15px;
}
.product-content .img-container, .product-content .info-container {
  width: calc(50% - 10px);
}

.product-content .img-container img {
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  font-size: 24px;
  font-weight: 700;
}

.product-price span {
  color: #b9b9b9
}

/* header */
header {
  width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav p {
  font-weight: 700;
  font-size: 20px;
}

ul {
  margin-right: 50px;
  list-style: none
}

ul li a{ 
  text-decoration: none;
  color:#080808;
  transition: all 0.1s ease-in;
}

ul li a:hover {
  color:#b9b9b9
}

.cart-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-info__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  font-size: 14px;
  color:#b9b9b9;
}

/* Shopping Cart */

.cart-container {
  width: 1180px;
  margin-top: 25px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.cart__products, .cart__order {
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 108px;
}

.cart__products {
  width: 800px;
}

.cart__order {
  width: 360px;
}

/* Cart Item */

.cart__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.cart__item:first-child {
  margin-top: 0px;
}

.cart__item .img {
  width: 150px;
}

.cart__item .img img {
  width: 100%;
  max-height: 150px;
}

.cart__item .info-section {
  flex-basis: 400px;
}
.cart__item .info-section .title {
  font-size: 18px;
}
.cart__item .info-section .brand {
  font-size: 14px;
  margin-top: 5px;
  color: #b9b9b9;
}

.cart__item .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #b9b9b9;
  transition: all 0.1s ease-in;
}
.cart__item button.remove{
  padding: 0;
  font-size: 14px;
  margin-top: 12px;
}
.cart__item button:hover {
  color:#080808;
}
.cart__item .quantity .quantity__number {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/* Order */

.order-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.order-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}