body{
  margin: 0;
  padding: 0;
  background-color: #F7F8FA;
}

.App {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 1180px;
  min-height: 100vh;
  padding: 25px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-bar__leftside {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.search-bar__input {
  width: 70%;
}

.search-bar__input .MuiInputBase-root {
  border-radius:  4px 0 0 4px;
}

.search-bar__sort-by .MuiInputBase-root {
  border-radius:  0 4px 4px 0;
}

.MuiInputBase-root, .MuiToggleButtonGroup-root {
  background-color: #fff;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.filter-section {
  margin-bottom: 20px;
}
.filter__price, .result-content {
  min-height: 100px;
}

.filter__price {
  width: 280px;
}

.result-content {
  width: 870px;
}


.filter p{
  font-size: 18px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.input-range {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.input-range__from .MuiInputBase-root {
  border-radius: 4px 0 0 4px;
}

.input-range__to .MuiInputBase-root {
  border-radius: 0 4px 4px 0;
}


/* Item */

.result-content .item {
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
}

.item__title, .item_desc {
  font-size: 18px;
}

.item__title span {
  color:#b9b9b9
}

.item p {
  margin-top: 0;
  margin-bottom: 20px;
}
.item__rate {
  margin-bottom: 10px;
}
.item__desc {
  margin-bottom: 10px;
}
.item__like {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
.item__stock {
  color: #b9b9b9
}

/* item flex */
.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.item__img {
  width: 240px;
}

.item__img img {
  width: 240px;
}

.item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  width: 545px;
}

.item__action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item__buy {
  display: flex;
  flex-direction: row;
  align-items: center;
}





